@use '../components/variables' as *;

footer {
    background-color: $background-color;
    padding-top: 34px;
    padding-bottom: 40px;
}
.footer {
    display: flex;
    justify-content: space-between;

    span {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $secondary-color;

        &:hover {
            color: $main-color;
        }
    }

    &__description {
        padding-left: 84px;
    
        @media (max-width: 768px) {
            padding-left: 0;
        }
    
        span {
            margin-right: 10px;    
        }  
    }

    &__social {
        span {
            margin-right: 18px;
    
            @media (max-width: 768px) {
                margin-right: 10px;
            }
        }
    
        i {
            font-size: 15px;
        }
    
        a:not(:last-child) {
            margin-right: 16px;
    
            @media (max-width: 768px) {
                margin-right: 10px;
            }
        }
    }
}



