@use '../components/variables' as *;
@use '../components/mixins' as mixin;

.header {
    z-index: 80;
    padding-top: 68px;
    padding-bottom: 72px;
    background-color: $white-color;
    width: 100%;

    @media (max-width: 768px) {
        padding-top: 15px; 
        padding-bottom: 1px;
        position: fixed;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;

    a {
        &:active {
            position: relative;
            top: 1px;
            right: -1px;
        }
    }  
}

.nav {
    
    ul {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
            padding-left: 0;
        }

        li {

            &:nth-child(1) {
                margin-right: 122px;
            }

            &:nth-child(2) {
                margin-right: 102px;
            }

            &:nth-child(3) {
                margin-right: 95px;
            }

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }

            a {
                font-size: 15px;
                line-height: 24px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: -.6px;

                @include mixin.text-shadow__hover;

                @media (max-width: 768px) { 
                    font-size: 18px;
                }
            }

            @media (max-width: 768px) {
                &:nth-child(1) {
                    margin-right: 0;
                }
    
                &:nth-child(2) {
                    margin-right: 0;
                }
    
                &:nth-child(3) {
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
        justify-content: center;
        align-items: center;
    }
}

.logo {
    font-family: $logo-font;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $secondary-color;
    padding-right: 50px; 

    @media (max-width: 768px) {
        visibility: hidden;
    }
}