@use '../components/variables' as *;
@use '../components/mixins' as mixin;

.main-block {    
    margin-bottom: 1.3rem;
    padding-right: 4.4rem;
    
}

.main-picture {
    padding-top: 16.4rem;
    margin-bottom: 9.7rem;

    img {
        width: 100%;
    }
}

.category-link {
    margin-top: 4.67rem;
    margin-bottom: 0;  

    @include mixin.text-shadow__hover;
}