@use '../components/variables' as *;

.signup {
    width: 100%;
    background-color: $background-color;
    padding: 68px 7px 74px;
    margin-top: -14px;
}

.signup-form {
    position: relative;
    max-width: 399px;
    margin: 0 auto;
    border-bottom: 1px solid $secondary-color;

    &__heading {
        letter-spacing: 0.022em;
        margin-bottom: 73px;
        color: #333333;
        padding-left: 10px;

        @media (max-width: 576px) { 
            font-size: 24px;
            text-align: center;
        }
    }

    &__input {
        width: 92%;
        height: 36px;
        font-size: 14px;
        font-weight: 500;
        border: none;
        background-color: transparent;
        color: $main-color;
        padding-left: 3px;

        &:focus {
            outline: none;
        }          
    }

    &__btn {
        position: absolute;
        right: 0;
        bottom: 9px;
        border: none;

        &__img {
            width: 32px;
            height: 17px;
        }
        
        &:hover {
            right: -2px;  
            transition: all .2s;
        }      
    }   
}