*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  line-height: 1;
  font-family: "Playfair Display", serif;
  color: #626262;
}

ul,
li {
  list-style: none;
  margin-bottom: 0;
}

.container {
  max-width: 1086px;
  margin: 0 auto;
}

.container-main {
  max-width: 900px;
  margin: 0 auto;
}

a {
  color: #626262;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #000000;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

.category {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
}
.category--link:hover {
  color: #000000;
  text-shadow: 1px 1px 6px rgba(20, 80, 20, 0.4);
}

.heading {
  font-size: 30px;
  font-weight: 500;
  color: #626262;
  letter-spacing: -0.12px;
}

.text {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.43px;
  font-weight: 400;
  color: #626262;
  margin-bottom: 0;
}

.outline-btn {
  padding: 17px;
  padding-left: 33px;
  padding-right: 33px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  color: #626262;
  border: 1px solid #626262;
  transition: 0.2s;
}
.outline-btn:hover {
  background-color: #626262;
  color: #ffffff;
}
.outline-btn:active {
  box-shadow: 1px 1px 1px #000000;
}

.toggle-nav {
  display: none;
}

label {
  z-index: 99;
  position: fixed;
  right: 18px;
  cursor: pointer;
}
label:hover span {
  background-color: #000000;
}
label span {
  display: none;
  height: 3px;
  width: 35px;
  background-color: #626262;
  transition: transform 0.2s;
}
label span:nth-child(2) {
  margin: 6px 0;
}
@media (max-width: 768px) {
  label span {
    display: block;
  }
}

.toggle-nav:checked ~ .nav {
  display: flex;
  height: 100vh;
  width: 100%;
}

.toggle-nav:checked ~ .logo {
  display: none;
}

.toggle-nav:checked ~ label > span:nth-child(1) {
  transform: rotateZ(45deg);
  margin-top: 10px;
}

.toggle-nav:checked ~ label > span:nth-child(3) {
  transform: rotateZ(-45deg);
  margin-top: -18px;
}

.toggle-nav:checked ~ label > span:nth-child(2) {
  opacity: 0;
}

.item-card {
  margin-bottom: 130px;
  max-width: 444px;
}
@media (max-width: 768px) {
  .item-card {
    margin-bottom: 120px;
  }
}
.item-card__img {
  margin-bottom: 30px;
  width: 100%;
}
.item-card__category {
  margin-bottom: 20px;
}
.item-card__heading {
  margin-bottom: 29px;
}
.item-card__link {
  margin-top: 47px;
  margin-bottom: 0;
}

.header {
  z-index: 80;
  padding-top: 68px;
  padding-bottom: 72px;
  background-color: #ffffff;
  width: 100%;
}
@media (max-width: 768px) {
  .header {
    padding-top: 15px;
    padding-bottom: 1px;
    position: fixed;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation a:active {
  position: relative;
  top: 1px;
  right: -1px;
}

.nav ul {
  display: flex;
}
@media (max-width: 768px) {
  .nav ul {
    flex-direction: column;
    padding-left: 0;
  }
}
.nav ul li:nth-child(1) {
  margin-right: 122px;
}
.nav ul li:nth-child(2) {
  margin-right: 102px;
}
.nav ul li:nth-child(3) {
  margin-right: 95px;
}
@media (max-width: 768px) {
  .nav ul li {
    margin-bottom: 20px;
  }
}
.nav ul li a {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}
.nav ul li a:hover {
  color: #000000;
  text-shadow: 1px 1px 6px rgba(20, 80, 20, 0.4);
}
@media (max-width: 768px) {
  .nav ul li a {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .nav ul li:nth-child(1) {
    margin-right: 0;
  }
  .nav ul li:nth-child(2) {
    margin-right: 0;
  }
  .nav ul li:nth-child(3) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .nav {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  font-family: "Inconsolata", monospace;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  padding-right: 50px;
}
@media (max-width: 768px) {
  .logo {
    visibility: hidden;
  }
}

.main-section {
  padding-bottom: 31px;
}

.main__picture {
  width: 100%;
  margin-bottom: 97px;
}
@media (max-width: 768px) {
  .main__picture {
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

.cards-block {
  margin-top: 103px;
  padding: 0 12px;
}
.cards-block .button-container {
  text-align: center;
  padding-bottom: 150px;
  margin-top: 30px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .cards-block {
    margin-top: 90px;
  }
}

.signup {
  width: 100%;
  background-color: #f0f0f0;
  padding: 68px 7px 74px;
  margin-top: -14px;
}

.signup-form {
  position: relative;
  max-width: 399px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
}
.signup-form__heading {
  letter-spacing: 0.022em;
  margin-bottom: 73px;
  color: #333333;
  padding-left: 10px;
}
@media (max-width: 576px) {
  .signup-form__heading {
    font-size: 24px;
    text-align: center;
  }
}
.signup-form__input {
  width: 92%;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: #626262;
  padding-left: 3px;
}
.signup-form__input:focus {
  outline: none;
}
.signup-form__btn {
  position: absolute;
  right: 0;
  bottom: 9px;
  border: none;
}
.signup-form__btn__img {
  width: 32px;
  height: 17px;
}
.signup-form__btn:hover {
  right: -2px;
  transition: all 0.2s;
}

footer {
  background-color: #f0f0f0;
  padding-top: 34px;
  padding-bottom: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.footer span:hover {
  color: #626262;
}
.footer__description {
  padding-left: 84px;
}
@media (max-width: 768px) {
  .footer__description {
    padding-left: 0;
  }
}
.footer__description span {
  margin-right: 10px;
}
.footer__social span {
  margin-right: 18px;
}
@media (max-width: 768px) {
  .footer__social span {
    margin-right: 10px;
  }
}
.footer__social i {
  font-size: 15px;
}
.footer__social a:not(:last-child) {
  margin-right: 16px;
}
@media (max-width: 768px) {
  .footer__social a:not(:last-child) {
    margin-right: 10px;
  }
}

/*# sourceMappingURL=index.css.map */
