@use './variables'as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    line-height: 1;
    font-family: $main-font;
    color: $main-color;  
}

ul,
li {
    list-style: none;
    margin-bottom: 0;  
}

.container {
    max-width: 1086px;
    margin: 0 auto;
}

.container-main {
    max-width: 900px;
    margin: 0 auto;
}

a {
    color: $main-color;
    text-decoration: none;
  
    &:hover, &:active, &:focus {
      color: $secondary-color;
      text-decoration: none;
    }
  
    &:link {
      text-decoration: none;
    }
  }