@use '../components/variables' as *;

.outline-btn {   
    padding: 1.7rem;
    padding-left: 3.3rem;
    padding-right: 3.3rem;;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    background-color: $white-color;
    color: $main-color;
    border: .1rem solid $main-color;
    transition: .2s;

    &:hover {
        background-color: $main-color;
        color: $white-color;
    }

    &:active {
        box-shadow: .1rem .1rem .1rem $secondary-color;
    } 
}