$logo-font: 'Inconsolata', monospace;
$main-font: 'Playfair Display', serif;
$secondary-font: 'Ubuntu', sans-serif;

$main-color: #626262;
$secondary-color: #000000;
$tertiary-color: #b4ad9e;
$background-color: #f0f0f0;
$white-color: #ffffff;

$hover-color: rgb(20, 80, 20);
